@font-face {
  font-family: Roboto;
  src: url(font/Roboto-Regular.ttf);
}

* {
  font-family: Roboto;
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.footer {
  padding: 0px 15%;
}

.sectionOne,
.footer {
  background-color: #1f2937;
}

.text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.text p,
.links {
  font-size: 18px;
  color: #e5e7eb;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

button,
.sectionFour {
  background-color: #3882f6;
}

button {
  color: #f9faf8;
}

.sectionTwo h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.sectionThree {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  color: #1f2937;
  font-weight: 900;
}

/*  */
/* Format */
/* Section one */
.links ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  gap: 35px;
}

.hero img {
  height: 300px;
  width: 700px;
}

.hero {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 10%;
}

.text p,
.text h1 {
  padding: 0px;
  margin: 0px;
}

.text button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 6px;
  border-color: #3882f6;
}

/* Section two */
