@font-face {
  font-family: Roboto;
  src: url(font/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoItalics;
  src: url(font/Roboto-LightItalic.ttf);
}

* {
  font-family: Roboto;
}

.sectionOne,
.footer {
  padding: 0px 15%;
}

.sectionTwo,
.sectionThree {
  padding: 0px 20%;
}

.sectionFour {
  margin: 70px 15%;
}

.sectionOne,
.footer {
  background-color: #1f2937;
}

.text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.text p,
.links {
  font-size: 18px;
  color: #e5e7eb;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

button,
.sectionFour {
  background-color: #3882f6;
}

button {
  color: #f9faf8;
}

.sectionTwo h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.sectionThree {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-family: RobotoItalics;
  color: #1f2937;
}

.author {
  color: #1f2937;
  font-weight: 900;
}

/*  */
/* Format */
/* Section one */
.links ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  gap: 35px;
}

.links ul li:hover {
  color: rgb(211, 211, 208);
  cursor: pointer;
  text-decoration: underline;
}

.hero img {
  height: 300px;
  width: 700px;
}

.hero {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 10%;
}

.text p,
.text h1 {
  margin: 0px;
}

.text p {
  padding-top: 10px;
}

.text button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 6px;
  border-color: #3882f6;
}

.text button:hover {
  cursor: pointer;
}

/* Section two */

.sectionTwo h3 {
  text-align: center;
}

.images p {
  width: 200px;
  text-align: center;
}

.images {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.images img {
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

/* Section Three */
.sectionThree {
  padding: 5% 20%;
}
.author {
  text-align: end;
}

/* Section Four */
.sectionFour {
  display: flex;
  padding: 30px 10%;
  color: #f9faf8;
  justify-content: space-between;
}

.signUpButton {
  align-self: center;
}

.signUpButton button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 6px;
  border-color: #f9faf8;
  cursor: pointer;
}

.sign {
  font-size: 11px;
}

/* Footer */
.footer {
  text-align: center;
  color: #f9faf8;
  padding: 30px;
}
